.titulo-curso {
  font-weight: bold;
  padding: 0 10px;
}
.curso {
  margin: 2rem;
}
.curso-container {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.curso-container img {
  width: 150px;
}
.descripcion p {
  text-align: left;
}
.descripcion a {
  display: flex;
  width: max-content;
  margin: auto;
  color: var(--color-secundario);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  background-color: var(--color--hover);
}
.descripcion a:hover {
  opacity: 0.8;
}
.linea-separadora-cursos {
  height: 2px;
  width: 90%;
  background-color: var(--color-secundario);
  margin: 2rem auto;
}
@media (max-width: 700px) {
  .titulo-curso {
    text-align: center;
  }
  .curso {
    margin: 0rem;
  }
  .curso-container {
    flex-direction: column;
    width: 100%;
  }
  .descripcion p {
    text-align: justify;
  }
}
