.titulo-curso {
  font-weight: bold;
  padding: 0 10px;
}
.curso {
  margin: 2rem;
}
.curso-container {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.curso-container img {
  width: 150px;
}
.descripcion p {
  text-align: left;
}
.descripcion button {
  display: flex;
  width: max-content;
  margin: auto;
  color: var(--color-secundario);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  background-color: var(--color--hover);
}
.descripcion button:hover {
  opacity: 0.8;
}
.linea-separadora-cursos {
  height: 2px;
  width: 90%;
  background-color: var(--color-secundario);
  margin: 2rem auto;
}
/* pantalla descripcion de cada curso */
.descriptioncurso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-200%);
  transition: all 0.4s ease-in-out;
  z-index: 30;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.description-curso-content {
  width: 60%;
  padding: 3rem;
  border-radius: 5px;
  position: fixed;
  display: flex;
  background-color: var(--color--hover);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 10px 3px var(--color-secundario);
  margin: auto;
}
.descriptioncurso.show {
  transform: translateX(0%);
}
.btnX-des-curso {
  position: absolute;
  right: 1%;
  top: 1%;
  background: none;
  border: none;
  color: var(--color-principal);
  font-size: 1.5rem;
  padding: 0 10px;
  border-radius: 50%;
  background-color: var(--color-secundario);
  text-shadow: 1px 1px 5px var(--color-secundario);
}
.btnX-des-curso:hover {
  transition: all 0.4s;
  color: var(--color-secundario);
  background-color: var(--color-principal);
}
.descptioncurso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.titulo {
  font-size: 1.5rem;
}
.img-curso {
  display: none;
}
.img-curso.show {
  display: block;
  width: 25vw;
}
.descptioncurso-container p {
  margin: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
@media (max-width: 900px) {
  .img-curso.show {
    display: block;
    width: 50vw;
  }
  .description-curso-content {
    width: 90%;
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .titulo-curso {
    text-align: center;
  }
  .curso {
    margin: 0rem;
  }
  .curso-container {
    flex-direction: column;
    width: 100%;
  }
  .descripcion p {
    text-align: justify;
  }
  .description-curso-content {
    margin: 0;
    padding: 1rem 0;
  }

  .img-curso.show {
    display: block;
    width: 70vw;
  }
}
