.navbar {
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  box-shadow: 1px 1px 5px 1px var(--color-secundario);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navbar.active {
  position: fixed;
  z-index: 10 !important;
  color: var(--color-principal);
  background-color: #000000d9;
  transition: all 0.3s ease-in-out;
}
.navbar.active .nav-item a {
  color: var(--color-principal);
}
.nav-lista {
  z-index: 2;
}
.logo {
  width: 200px;
}
.nav li {
  margin: 10px;
}
.nav-item a {
  border-radius: 7px;
  font-size: 1.1rem;
  color: var(--color-secundario);
  font-weight: bold;
}
.nav-item a:hover {
  transition: all 0.4s;
  color: var(--color-secundario);
  background-color: var(--color--hover);
}
.btn-container button:hover {
  transition: all 0.4s;
  color: var(--color-secundario);

  background-color: var(--color--hover);
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
  z-index: 3;
}

.btn-container button {
  font-weight: bold;
  border-radius: 7px;
  padding: 5px 10px;
  color: var(--color-secundario);
  text-decoration: none;
  margin: 0 5px;
  border: 1.1px solid var(--color-secundario);
}

.btnX {
  display: none;
  position: absolute;
  right: 3%;
  top: 3%;
  border-radius: 50%;
  padding: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-principal);
}
.btnX:hover {
  transition: 0.4s;
  color: var(--color--hover);
}
.bntX-active {
  display: block;
}

/* responsive desing */
/* btn responsive */
.btn-menu {
  background: none;
  border: none;
  display: none;
  position: absolute;
  font-size: 1.5rem;
  top: 28%;
  z-index: 5;
  color: var(--color-secundario);
  right: 5vw;
}
.navbar.active .btn-menu {
  color: var(--color-principal);
}
/* nav responsive */

@media (max-width: 700px) {
  .nav-lista {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    background-color: #000000dc;
    left: 0;
    top: 0;
    transform: translateX(-200%);
    transition: all 0.4s ease-in-out;
  }
  .nav-lista.active {
    transform: translateX(0%);
  }
  .nav {
    display: none;
    height: 500px;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }
  .nav.active {
    display: flex;
  }
  .nav.active .nav-link {
    color: #fff;
  }
  .nav.active a {
    font-size: 1.8rem;
  }
  .btn-menu-activado {
    color: #fff;
  }
  .btn-menu.active {
    display: block;
  }
  .btn-container {
    display: none;
    position: absolute;
  }
  .btn-container.active {
    display: block;
    transition: all 0.4s ease-in-out;
  }
}
